#container {
  max-width: 1024px;
  margin: auto;
  background-color: #FFC0CB;
}

.header {
  background-color: #FFFF00;
  text-align: center;
  padding: 20px;
  text-align: center;
  background-image: url("../image/backgroud.jpg");
  background-size: cover;
}

h1{
  margin-top: -10px;
}

/* The navbar container */
.topnav {
  display: flex;
  background-color: black;
  justify-content: space-between;
  padding: 10px;
}

/* Navbar links */
.topnav a {
  color: #FFC0CB;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: #FF0000;
  color: #FFC0CB;
  text-decoration: underline;
}

/* Row */
.row {
  display: flex;
}

/* Column */
.column {
  width: 25%;
}

#column2{
  width: 50%;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 480px) {
  .column {
	width: 100%;
  }

  .row {
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) and (min-width: 480px){
  .column {
	width: 50%;
  }

  .row {
    flex-wrap: wrap;
  }
}

footer {
  display: block;
  background-color: #F1F1F1;
}
