body {
  margin: auto;
  font-family: "Lato", sans-serif;
  color: #454a56;
}

/* Header 1 */
.head1 {
  font-size: 4vw;
  margin-top: -3%;
}

/* Button 1 */
.btn1 {
  width: 12.5vw;
  height: 5vh;
  background-color: #281fb0;
  background-image: linear-gradient(to right, #281fb0, #6156f9);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* First Page */
.firstpage {
  background-image: url("../images/Bg\ Shape@2x.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 60%;
}

/* Menu */
.menu {
  width: 80%;
  height: 5%;
  margin: auto;
  padding-top: 1%;
  display: flex;
  justify-content: space-between;
}

/* Logo */
.logo {
  width: 20vw;
  display: flex;
  align-items: center;
}

.logo img {
  width: 25%;
}

.logo h1 {
  font-size: 2.5vw;
  margin: auto;
}

/* Navigation Bar */
.navbar {
  display: flex;
  width: 25vw;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.navbar a {
  color: white;
  font-size: 1vw;
  text-align: center;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

/* First Page Body */
.fbody {
  display: flex;
  align-items: center;
  width: 95%;
  height: 78vh;
  margin: auto;
}

/* Sidebar */
.sidebar {
  width: 5vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar a {
  text-decoration: none;
}

.sidebar a:hover {
  opacity: 0.5;
}

.sidebar div {
  padding: 30%;
}

.sidebar img {
  width: 1vw;
  display: flex;
  justify-content: center;
}

#line img {
  width: 50%;
}

/* First Page Box */
.fbox {
  width: 40vw;
  height: 75%;
  padding-left: 3%;
}

#sm {
  font-size: 3vw;
}

.fbox p {
  font-size: 1vw;
  margin-top: -1.5%;
}

.fbox a {
  color: white;
  text-decoration: none;
  font-size: 1vw;
}

.fbox a:hover {
  opacity: 0.5;
}

/* First Page Pictures */
.fpic {
  width: 50vw;
  height: 90%;
  margin: auto;
}

.fpic img {
  width: 75%;
  height: auto;
}

/* First Page Bottom */
.fbottom {
  height: 7.5vh;
  display: flex;
  justify-content: center;
  margin: auto;
}

.mouse {
  text-align: center;
  border: white solid 0.5vw;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 1vw 1vw 0 rgba(0, 0, 0, 0.2), 0 1vw 1vw 0 rgba(0, 0, 0, 0.19);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mouse img {
  max-width: 50%;
}

/* Second Page */
.secondpage {
  width: 95vw;
  margin: auto;
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
}

/* Left Second Container */
.lscon {
  width: 50%;
  height: 100%;
}

.lscon img {
  width: 95%;
}

/* Right Second Container */
.rscon {
  background-image: url("../images/who\ we\ are\ background@2x.png");
  background-repeat: no-repeat;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
}

#rsp1 {
  color: #281fb0;
  font-size: 2vw;
}

.rscon p {
  font-size: 1.5vw;
  margin-top: -1%;
}

.rscon a {
  color: white;
  text-decoration: none;
  font-size: 1vw;
}

.rscon a:hover {
  opacity: 0.5;
}
