body {
  font-family: sans-serif;
  background-image: url(../images/Bg\ Shape@2x.png),
    url(../images/Bg\ Shape\ footer\ 2@2x.png),
    url(../images/Bg\ Shape\ footer\ 1@2x.png);
  background-repeat: no-repeat;
  background-position: top right, left -280px bottom -1085px,
    left -1280px bottom -1550px;
  background-size: 50%, 2350px, 3150px;
  color: #454a56;
  margin: auto;
}

/* First Page */
.firstpage {
  height: 95vh;
  display: flex;
  flex-direction: column;
}

/* The Menu */
.menu {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 200px;
  padding-right: 250px;
}

.logo {
  width: 30vw;
  display: flex;
  flex-direction: row;
}

.logo img {
  width: 70px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

/* The navbar container */
.navbar {
  display: flex;
  width: 20vw;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-weight: bold;
}

.navbar a {
  color: white;
  text-align: center;
  padding: 15px 18px;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.fbody {
  display: flex;
  height: 85vh;
  padding-left: 100px;
  position: relative;
}

/* The sidebar container */
.sidebar {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 350px;
  text-decoration: none;
  align-items: center;
}

.sidebar a {
  text-decoration: none;
}

.sidebar a:hover {
  opacity: 0.5;
}

.sidebar div {
  padding: 20px;
}

.sidebar img {
  width: 18px;
  display: flex;
  justify-content: center;
}

#line img {
  width: 5px;
  height: 40px;
  padding-left: 5px;
}

/* The textbox1 container */
.tb1 {
  width: 75vh;
  height: 50vh;
  padding-top: 200px;
  padding-left: 50px;
}

.btn1 {
  background-image: url(../images/Rectangle\ 8@2x\ -\ Copy.png);
  background-repeat: no-repeat;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  margin-top: 30px;
}

.tb1 a {
  color: white;
  text-decoration: none;
  display: block;
  width: 216px;
}

.tb1 a:hover {
  opacity: 0.5;
}

#sm {
  font-weight: 100;
  font-size: 50px;
}

#fb {
  margin-top: -30px;
  margin-bottom: 30px;
  font-size: 70px;
}

.tb1 p {
  margin-top: -10px;
}

.fpic {
  height: 70vh;
  display: flex;
  justify-content: end;
  align-content: center;
}

/* Mouse Container */
.mouse {
  text-align: center;
  border: white solid 3px;
  padding: 10px 9px;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50%;
  position: absolute;
  left: 45%;
  bottom: 15%;
}

.mouse img {
  width: 50%;
}

/* Second Page */
.secondpage {
  height: 100vh;
  display: flex;
  margin-top: 50px;
}

/* Left Second Container */
.lscon {
  width: 40vw;
  padding-left: 75px;
}

.lscon img {
  width: 100%;
  margin-top: 100px;
}

/* Right Second Container */
.rscon {
  width: 40vw;
  height: 75vh;
  padding: 180px 200px 100px 100px;
}

.rscon p {
  font-size: 25px;
}

#rsp1 {
  color: blue;
}

#rsh1 {
  margin-top: -15px;
  margin-bottom: -8px;
  font-size: 80px;
}

.btn2 {
  background-image: url(../images/Rectangle\ 8@2x\ -\ Copy.png);
  background-repeat: no-repeat;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  margin-top: 30px;
}

.rscon a {
  color: white;
  text-decoration: none;
  display: block;
  width: 216px;
}

.rscon a:hover {
  opacity: 0.5;
}

/* Services Page*/
.servicespage {
  margin-top: 50px;
}

/* Top Services Page*/
.tserhead {
  height: 10vh;
  padding-left: 150px;
}

#tserp1 {
  color: blue;
  font-size: 30px;
}

#tserh1 {
  font-size: 75px;
  margin-top: -20px;
}

/* Services Page Body */
.serbody {
  padding-right: 100px;
  padding-bottom: 200px;
  margin-top: 75px;
}

.sercon {
  display: flex;
}

/* Offerbox */
.offerbox {
  background-color: #fff;
  margin: 10px 50px 30px 50px;
  padding: 30px;
  width: 25%;
  height: 400px;
  border: #fff solid 4px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  align-items: center;
  border-radius: 10%;
  position: relative;
}

.offerbox img {
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.offerbox h2 {
  font-size: 20px;
  margin-top: 30px;
}

.offerbox p {
  margin-top: 45px;
  font-size: 18px;
}

.btn3 {
  background-image: url(../images/Rectangle\ 8@2x\ -\ Copy.png);
  background-repeat: no-repeat;
  width: 216px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  position: absolute;
  bottom: 8%;
  right: 5%;
}

.offerbox a {
  color: white;
  text-decoration: none;
  display: block;
  width: 216px;
}

.offerbox a:hover {
  opacity: 0.5;
}

/* Prices Page */
.pricespage {
  height: 90vh;
  background-color: #eceaff;
}

/* Prices Page Head */
.prihead {
  height: 10vh;
  text-align: center;
  padding-top: 20px;
}

#prip1 {
  color: blue;
  font-size: 25px;
  font-weight: bold;
}

#prih1 {
  font-size: 50px;
  margin-top: -10px;
}

/* Prices Page Body */
.pribody {
  padding-right: 100px;
  padding-bottom: 200px;
  margin-top: 75px;
  display: flex;
}

/* Pricebox */
.pribox {
  background-color: #fff;
  margin: 10px 50px 0px 50px;
  padding: 30px;
  width: 30%;
  height: 350px;
  border: #fff solid 4px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  align-items: center;
  border-radius: 10%;
  position: relative;
  text-align: center;
}

.pribox h2 {
  font-size: 30px;
  margin-top: 30px;
}

.pritext {
  margin-top: 45px;
  font-size: 18px;
}

.price {
  color: blue;
  font-size: 40px;
  font-weight: bold;
}

.btn4 {
  background-image: url(../images/Rectangle\ 8@2x\ -\ Copy.png);
  background-repeat: no-repeat;
  width: 216px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  position: absolute;
  left: 28%;
}

.pribox a {
  color: white;
  text-decoration: none;
  display: block;
  width: 216px;
}

.pribox a:hover {
  opacity: 0.5;
}

/* Prices Page Bottom */
.pribottom {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  padding: 20px;
}

.dot a {
  cursor: pointer;
  height: 5px;
  width: 5px;
  margin: 0 2px;
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
}

.dot a:hover {
  background-color: blue;
  height: 15px;
  width: 15px;
}

/* Contact Page*/
.contact {
  margin-top: 130px;
  text-align: center;
}

.newstitle {
  font-weight: lighter;
}

.mailbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.contact h3 {
  margin: auto;
  color: blue;
}

.contact h1 {
  margin-top: 10px;
}

.contact input {
  background-color: rgb(248, 243, 243);
  border: rgb(248, 243, 243);
  border-radius: 7px;
  padding: 15px 0;
  padding-left: 30px;
  padding-right: 300px;
  margin-left: -60px;
  outline: none;
}

.contact a {
  color: white;
  text-decoration: none;
  display: block;
  width: 160px;
  margin-left: 30px;
}

.subbtn {
  background-image: url(../images/Rectangle\ 8@2x\ -\ Copy.png);
  background-size: 160px 45px;
  background-repeat: no-repeat;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.banner {
  margin-top: 380px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  color: white;
}

.banner img {
  height: 18px;
  padding-left: 15px;
}

#img1 {
  padding: 0;
}

.titlecol {
  padding-bottom: 20px;
}

.row {
  padding-left: 150px;
  line-height: 30px;
}

#firstrow {
  padding-left: 0;
  text-align: center;
  margin-left: -70px;
}

#firstrow h1 {
  margin-top: 20px;
}

#secondrow {
  padding-left: 200px;
}

.row .col img {
  padding: 0;
  padding-right: 6px;
  height: 15px;
}

/* Responsive */
@media screen and (max-width: 1024px) {
  body {
    background-size: 55vw, 2350px, 3150px;
    background-position: top right, left -280px bottom -1085px,
      left -1280px bottom -1550px;
  }

  /* First Page */
  .firstpage {
    height: auto;
  }

  .menu {
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
  }

  .fbody {
    height: auto;
    padding: 0px;
  }

  .sidebar {
    height: auto;
    padding-top: 80px;
  }

  .tb1 {
    height: auto;
    font-size: 2vw;
    padding-top: 50px;
    padding-left: 30px;
  }

  #sm {
    font-size: 3vw;
  }

  #fb {
    font-size: 3vw;
    margin-top: -15px;
  }

  .fpic {
    height: 25vh;
    padding-right: 25px;
  }

  .fpic img {
    height: 100%;
  }

  .mouse {
    bottom: 0%;
  }

  /* Second Page */
  .secondpage {
    height: auto;
  }

  .lscon {
    width: 30vw;
    padding-top: 10px;
    padding-left: 30px;
  }

  .rscon {
    height: auto;
    padding: 0px;
    padding-left: 30px;
  }

  .rscon p {
    font-size: 2vw;
  }

  #rsh1 {
    font-size: 4vw;
  }

  .tserhead {
    padding-left: 15px;
  }

  #tserp1 {
    font-size: 3vw;
  }

  #tserh1 {
    font-size: 5vw;
  }

  .serbody {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
  }

  .sercon {
    flex-direction: column;
    align-items: center;
  }

  .offerbox {
    height: 425px;
  }

  .offerbox img {
    width: 30%;
  }

  .offerbox h2 {
    font-size: 3vw;
  }

  .offerbox p {
    font-size: 2vw;
    margin-top: 10px;
  }

  /* Prices Page */
  .pricespage {
    height: auto;
  }

  /* Prices Page Body */
  .pribody {
    padding: 0px;
    flex-direction: column;
    align-items: center;
  }

  /* Pricebox */
  .pribox {
    margin-top: 100px;
    height: 400px;
  }

  .btn4 {
    left: 15%;
  }

  /* Contact Page */
  .contact {
    height: auto;
  }

  .banner {
    width: 100%;
    display: flex;
    padding-left: 10px;
  }

  .row {
    padding: 13px;
  }

  #secondrow {
    padding-left: 13px;
  }
}
