body {
  font-family: sans-serif;
  background-image: url(../images/Bg\ Shape@2x.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 50%;
  color: #454a56;
}

/* First Page */
.firstpage {
  height: 95vh;
  display: flex;
  flex-direction: column;
}

/* The Menu */
.menu {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 200px;
  padding-right: 250px;
}

.logo {
  width: 30vw;
  display: flex;
  flex-direction: row;
}

.logo img {
  width: 70px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

/* The navbar container */
.navbar {
  display: flex;
  width: 20vw;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-weight: bold;
}

.navbar a {
  color: white;
  text-align: center;
  padding: 15px 18px;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.fbody {
  display: flex;
  height: 85vh;
  padding-left: 100px;
}

/* The sidebar container */
.sidebar {
  height: 50vh;
  align-items: center;
  padding-top: 350px;
  text-decoration: none;
  align-items: center;
}

.sidebar a {
  text-decoration: none;
}

.sidebar a:hover {
  opacity: 0.5;
}

.sidebar div {
  padding: 20px;
}

.sidebar img {
  width: 18px;
  display: flex;
  justify-content: center;
}

#line img {
  width: 5px;
  height: 40px;
  padding-left: 5px;
}

/* The textbox1 container */
.tb1 {
  width: 75vh;
  height: 50vh;
  padding-top: 200px;
  padding-left: 50px;
}

.btn1 {
  background-image: url(../images/Rectangle\ 8@2x\ -\ Copy.png);
  background-repeat: no-repeat;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  margin-top: 30px;
}

.tb1 a {
  color: white;
  text-decoration: none;
  display: block;
  width: 216px;
}

.tb1 a:hover {
  opacity: 0.5;
}

#sm {
  font-weight: 100;
  font-size: 50px;
}

#fb {
  margin-top: -30px;
  margin-bottom: 30px;
  font-size: 70px;
}

.tb1 p {
  margin-top: -10px;
}

.fpic {
  width: 100vh;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

/* Mouse Container */
.mouse {
  text-align: center;
  border: white solid 3px;
  padding: 10px 9px;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  bottom: 15%;
}

.mouse img {
  width: 50%;
}

/* Second Page */
.secondpage {
  height: 95vh;
  display: flex;
  margin-top: 50px;
}

/* Left Second Container */
.lscon {
  width: 40vw;
  height: 75vh;
  padding-left: 75px;
}

.lscon img {
  width: 100%;
  margin-top: 100px;
}

/* Right Second Container */
.rscon {
  width: 40vw;
  height: 75vh;
  padding: 180px 200px 0px 100px;
}

.rscon p {
  font-size: 25px;
}

#rsp1 {
  color: blue;
}

#rsh1 {
  margin-top: -15px;
  margin-bottom: -8px;
  font-size: 80px;
}

.btn2 {
  background-image: url(../images/Rectangle\ 8@2x\ -\ Copy.png);
  background-repeat: no-repeat;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  margin-top: 30px;
}

.rscon a {
  color: white;
  text-decoration: none;
  display: block;
  width: 216px;
}

.rscon a:hover {
  opacity: 0.5;
}

/* Services Page*/
.servicespage {
  margin-top: 50px;
}

/* Top Services Page*/
.tserhead {
  width: 90%;
  height: 10vh;
  padding-left: 150px;
}

#tserp1 {
  color: blue;
  font-size: 35px;
}

#tserh1 {
  font-size: 75px;
  margin-top: -20px;
}

/* Services Page Body */
.serbody {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 200px;
  margin-top: 75px;
}

.sercon {
  display: flex;
}

/* Offerbox */
.offerbox {
  background-color: #fff;
  margin: 10px 50px 30px 50px;
  padding: 30px;
  width: 30%;
  height: 400px;
  border: #fff solid 4px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  align-items: center;
  border-radius: 10%;
  position: relative;
}

.offerbox img {
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.offerbox h2 {
  font-size: 20px;
  margin-top: 30px;
}

.offerbox p {
  margin-top: 45px;
  font-size: 18px;
}

.btn3 {
  background-image: url(../images/Rectangle\ 8@2x\ -\ Copy.png);
  background-repeat: no-repeat;
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  margin-top: 30px;
  position: absolute;
  bottom: 8%;
  right: 10%;
}

.offerbox a {
  color: white;
  text-decoration: none;
  display: block;
  width: 216px;
}

.offerbox a:hover {
  opacity: 0.5;
}

/* Prices Page */
.pricespage {
  height: 90vh;
  background-color: #eceaff;
}

/* Prices Page Head */
.prihead {
  height: 10vh;
  text-align: center;
  padding-top: 20px;
}

#prip1 {
  color: blue;
  font-size: 25px;
  font-weight: bold;
}

#prih1 {
  font-size: 50px;
  margin-top: -10px;
}

/* Prices Page Body */
.pribody {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 200px;
  margin-top: 75px;
  display: flex;
}

/* Pricebox */
.pribox {
  background-color: #fff;
  margin: 10px 50px 0px 50px;
  padding: 30px;
  width: 30%;
  height: 350px;
  border: #fff solid 4px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  align-items: center;
  border-radius: 10%;
  position: relative;
  text-align: center;
}

.pribox h2 {
  font-size: 30px;
  margin-top: 30px;
}

.pritext {
  margin-top: 45px;
  font-size: 18px;
}

.price {
  color: blue;
  font-size: 40px;
  font-weight: bold;
}

.btn4 {
  background-image: url(../images/Rectangle\ 8@2x\ -\ Copy.png);
  background-repeat: no-repeat;
  width: 216px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  position: absolute;
  left: 28%;
}

.pribox a {
  color: white;
  text-decoration: none;
  display: block;
  width: 216px;
}

.pribox a:hover {
  opacity: 0.5;
}

/* Prices Page Bottom */
.pribottom{
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  padding: 20px;
}

.dot a {
  cursor: pointer;
  height: 5px;
  width: 5px;
  margin: 0 2px;
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
}

.dot a:hover {
  background-color: blue;
  height: 15px;
  width: 15px;
}