body {
  margin: 0%;
  font-family: "IBM Plex Mono", sans-serif;
  background-color: #080808;
}

/* Menu */
.menu {
  height: 8vh;
  background-color: #1b1b1b;
  display: flex;
  justify-content: center;
}

/* Menu Container */
.menucon {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Menu Logo */
.logo {
  width: 30%;
}

/* Top Navigation */
.topnav {
  overflow: hidden;
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.menu a {
  color: #ffffff;
  font-size: 1vw;
  text-decoration: none;
}

.menu a:hover {
  color: #ff1801;
}

.topnav a.active {
  background-color: #ff1801;
  color: white;
}

.topnav .icon {
  display: none;
}

/* Overlay */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.3s;
}

.overlay-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 3vw;
  display: block;
  transition: 0.1s;
}

.overlay a:hover,
.overlay a:focus {
  color: #ff1801;
  font-size: 5vw;
}

.overlay .closebtn {
  position: absolute;
  top: 3%;
  right: 5%;
  font-size: 2vw;
}

/* Footer */
.footer {
  height: 5vh;
  background-color: #1b1b1b;
  color: #9c9c9c;
  font-size: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* About Body */
.aboutbody {
  min-height: 81.3vh;
  background-color: #080808;
  padding-top: 3%;
  color: #ffffff;
}

/* About Header */
.abouthead {
  width: 80%;
  margin: auto;
  text-align: center;
}

.abouthead h1 {
  font-family: "Raleway";
  font-size: 2.5vw;
}

.abouthead p {
  font-size: 1.1vw;
  margin-top: -1.5%;
}

/* Details Container */
.details {
  width: 85%;
  height: 80%;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Box */
.box {
  width: 45%;
  height: 20vh;
  border: #9c9c9c solid 1.5px;
  border-radius: 8px;
  align-items: center;
  margin: auto;
  padding: 1.5%;
  margin-top: 3%;
  position: relative;
}

.box p {
  font-size: 1vw;
}

/* Title */
.title {
  display: flex;
  width: 50%;
  align-items: center;
  position: absolute;
  bottom: 1%;
}

.title img {
  width: 8%;
  height: 8%;
}

.title p {
  margin-left: 5%;
  font-size: 1.3vw;
  line-height: 20px;
  font-family: "Raleway";
  font-weight: bolder;
}

/* Responsive For Small Screen*/
@media screen and (max-width: 1024px) and (min-width: 769px) {
}

/* Responsive For iPads or Tablets*/
@media screen and (max-width: 768px) and (min-width: 481px) {
  /* Menu Container */
  .menucon {
    width: 100%;
  }

  /* Menu Logo */
  .logo {
    width: 95%;
    text-align: center;
  }

  /* Top Navigation */
  .topnav {
    width: 5%;
    display: flex;
    align-items: center;
  }

  .topnav a {
    display: none;
  }

  .menu a.icon {
    display: block;
    position: absolute;
  }

  .menu.responsive {
    position: relative;
  }
  .menu.responsive .icon {
    position: absolute;
    right: 5;
    top: 0;
  }
  .menu.responsive a {
    display: block;
    text-align: left;
  }

  .menu a {
    color: #ffffff;
    font-size: 3vw;
    text-decoration: none;
  }

  /* Overlay */
  .overlay a {
    font-size: 3vw;
  }

  .overlay a:hover,
  .overlay a:focus {
    font-size: 8vw;
  }

  .overlay .closebtn {
    font-size: 5vw;
  }

  /* Footer */
  .footer {
    font-size: 2vw;
  }

  /* About Body */
  .aboutbody {
    min-height: 85vh;
  }

  /* About Header */
  .abouthead {
    width: 90%;
  }

  .abouthead h1 {
    font-size: 3vw;
  }

  .abouthead p {
    font-size: 1.5vw;
  }

  /* Details Container */
  .details {
    width: 95%;
    height: 95%;
  }

  /* Box */
  .box p {
    font-size: 1.5vw;
  }

  /* Title */
  .title {
    width: 60%;
  }

  .title img {
    width: 10%;
    height: 10%;
  }

  .title p {
    font-size: 2vw;
  }
}

/* Responsive For Mobile*/
@media screen and (max-width: 480px) {
  /* Menu Container */
  .menucon {
    width: 100%;
  }

  /* Menu Logo */
  .logo {
    width: 90%;
    text-align: center;
  }

  /* Top Navigation */
  .topnav {
    width: 10%;
    display: flex;
    align-items: center;
  }

  .topnav a {
    display: none;
  }

  .menu a.icon {
    display: block;
    position: absolute;
  }

  .menu.responsive {
    position: relative;
  }

  .menu.responsive .icon {
    position: absolute;
    right: 5;
    top: 0;
  }
  .menu.responsive a {
    display: block;
    text-align: left;
  }

  .menu a {
    color: #ffffff;
    font-size: 5vw;
    text-decoration: none;
  }

  /* Overlay */
  .overlay a {
    font-size: 5vw;
  }

  .overlay a:hover,
  .overlay a:focus {
    font-size: 13vw;
  }

  .overlay .closebtn {
    font-size: 10vw;
  }

  /* Footer */
  .footer {
    font-size: 3vw;
  }

  /* About Body */
  .aboutbody {
    min-height: 85vh;
    height: fit-content;
  }

  /* About Header */
  .abouthead {
    width: 90%;
  }

  .abouthead h1 {
    font-size: 5vw;
  }

  .abouthead p {
    font-size: 2vw;
  }

  /* Details Container */
  .details {
    width: 95%;
    height: 95%;
  }

  /* Box */
  .box {
    width: 100%;
    height: 15vh;
  }

  .box p {
    font-size: 3vw;
  }

  /* Title */
  .title {
    width: 60%;
  }

  .title img {
    width: 10%;
    height: 10%;
  }

  .title p {
    font-size: 3vw;
  }
}
