body {
  margin: 0%;
  font-family: "IBM Plex Mono", sans-serif;
  background-color: #080808;
}

/* Menu */
.menu {
  height: 8vh;
  background-color: #1b1b1b;
  display: flex;
  justify-content: center;
}

/* Menu Container */
.menucon {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Menu Logo */
.logo {
  width: 30%;
}

/* Top Navigation */
.topnav {
  overflow: hidden;
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.menu a {
  color: #ffffff;
  font-size: 1vw;
  text-decoration: none;
}

.menu a:hover {
  color: #ff1801;
}

.topnav a.active {
  background-color: #ff1801;
  color: white;
}

.topnav .icon {
  display: none;
}

/* Overlay */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.3s;
}

.overlay-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 3vw;
  display: block;
  transition: 0.1s;
}

.overlay a:hover,
.overlay a:focus {
  color: #ff1801;
  font-size: 5vw;
}

.overlay .closebtn {
  position: absolute;
  top: 3%;
  right: 5%;
  font-size: 2vw;
}

/* Footer */
.footer {
  height: 5vh;
  background-color: #1b1b1b;
  color: #9c9c9c;
  font-size: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contact Body */
.contbody {
  width: 50%;
  height: 83vh;
  margin: auto;
  color: #ffffff;
}

/* Contact Header */
.conthead {
  text-align: center;
}

.conthead h1 {
  font-size: 3vw;
}

.conthead p {
  font-size: 1vw;
  margin-top: -1%;
  line-height: 30px;
}

.conthead a {
  color: #ffffff;
  text-decoration: none;
  margin-top: 1px;
}

.conthead a:hover {
  color: #ff1801;
  text-decoration: underline;
}

/* Form */
.email {
  width: 70%;
  margin: auto;
  font-size: 1vw;
}

.email input {
  width: 100%;
  height: 50px;
  margin-top: 1%;
  font-size: 1vw;
  padding-left: 1%;
}

.phone {
  width: 70%;
  margin: auto;
  margin-top: 1%;
  font-size: 1vw;
}

.phone input {
  width: 100%;
  height: 50px;
  margin-top: 1%;
  font-size: 1vw;
  padding-left: 1%;
}

.message {
  width: 70%;
  margin: auto;
  margin-top: 1%;
  font-size: 1vw;
}

textarea {
  width: 100%;
  height: 100px;
  margin-top: 1%;
  font-size: 1vw;
  padding-left: 1%;
  resize: none;
}

.submit {
  width: 71.5%;
  margin: auto;
  margin-top: 1%;
  padding-left: 1%;
}

.submit input {
  background-color: #3f8e00;
  color: #ffffff;
  border: #62ba1b solid 1px;
  width: 100%;
  height: 50px;
  margin-top: 1%;
  font-size: 1vw;
}

/* Responsive For Small Screen*/
@media screen and (max-width: 1024px) and (min-width: 769px) {
}

/* Responsive For iPads or Tablets*/
@media screen and (max-width: 768px) and (min-width: 481px) {
  /* Menu Container */
  .menucon {
    width: 100%;
  }

  /* Menu Logo */
  .logo {
    width: 95%;
    text-align: center;
  }

  /* Top Navigation */
  .topnav {
    width: 5%;
    display: flex;
    align-items: center;
  }

  .topnav a {
    display: none;
  }

  .menu a.icon {
    display: block;
    position: absolute;
  }

  .menu.responsive {
    position: relative;
  }
  .menu.responsive .icon {
    position: absolute;
    right: 5;
    top: 0;
  }
  .menu.responsive a {
    display: block;
    text-align: left;
  }

  .menu a {
    color: #ffffff;
    font-size: 3vw;
    text-decoration: none;
  }

  /* Overlay */
  .overlay a {
    font-size: 3vw;
  }

  .overlay a:hover,
  .overlay a:focus {
    font-size: 8vw;
  }

  .overlay .closebtn {
    font-size: 5vw;
  }

  /* Footer */
  .footer {
    font-size: 2vw;
  }

  /* Contact Body */
  .contbody {
    width: 90%;
    height: 85vh;
  }

  /* Contact Header */
  .conthead h1 {
    font-size: 5vw;
  }

  .conthead p {
    font-size: 1.5vw;
    line-height: 20px;
  }

  /* Form */
  .email {
    font-size: 1.5vw;
  }

  .email input {
    font-size: 1.5vw;
  }

  .phone {
    font-size: 1.5vw;
  }

  .phone input {
    font-size: 1.5vw;
  }

  .message {
    font-size: 1.5vw;
  }

  textarea {
    font-size: 1.5vw;
  }

  .submit input {
    font-size: 1.5vw;
  }
}

/* Responsive For Mobile*/
@media screen and (max-width: 480px) {
  /* Menu Container */
  .menucon {
    width: 100%;
  }

  /* Menu Logo */
  .logo {
    width: 90%;
    text-align: center;
  }

  /* Top Navigation */
  .topnav {
    width: 10%;
    display: flex;
    align-items: center;
  }

  .topnav a {
    display: none;
  }

  .menu a.icon {
    display: block;
    position: absolute;
  }

  .menu.responsive {
    position: relative;
  }

  .menu.responsive .icon {
    position: absolute;
    right: 5;
    top: 0;
  }
  .menu.responsive a {
    display: block;
    text-align: left;
  }

  .menu a {
    color: #ffffff;
    font-size: 5vw;
    text-decoration: none;
  }

  /* Overlay */
  .overlay a {
    font-size: 5vw;
  }

  .overlay a:hover,
  .overlay a:focus {
    font-size: 13vw;
  }

  .overlay .closebtn {
    font-size: 10vw;
  }

  /* Footer */
  .footer {
    font-size: 3vw;
  }

  /* Contact Body */
  .contbody {
    width: 90%;
    height: 87vh;
  }

  /* Contact Header */
  .conthead h1 {
    font-size: 10vw;
  }

  .conthead p {
    font-size: 4vw;
    line-height: 20px;
  }

  /* Form */
  .email {
    font-size: 4vw;
  }

  .email input {
    font-size: 4vw;
  }

  .phone {
    font-size: 4vw;
  }

  .phone input {
    font-size: 4vw;
  }

  .message {
    font-size: 4vw;
  }

  textarea {
    font-size: 4vw;
  }

  .submit input {
    font-size: 4vw;
  }
}