body {
  margin: 0%;
  font-family: "IBM Plex Mono", sans-serif;
}

/* Menu */
.menu {
  height: 8vh;
  background-color: #1b1b1b;
  display: flex;
  justify-content: center;
}

/* Menu Container */
.menucon {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Menu Logo */
.logo {
  width: 30%;
}

/* Top Navigation */
.topnav {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.menu a {
  color: #ffffff;
  font-size: 1vw;
  text-decoration: none;
}

.menu a:hover {
  color: #ff1801;
}

/* Footer */
.footer {
  height: 5vh;
  background-color: #1b1b1b;
  color: #9c9c9c;
  font-size: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Home Body */
.homebody {
  height: 87vh;
  background-image: url(../../images/f1-75.jpg);
  background-size: cover;
}

/* Home Container */
.homecon {
  width: 80%;
  height: 45%;
  padding-top: 5%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

/* Home Profile Image */
.homecon img {
  width: 75%;
  border-radius: 50%;
  display: block;
  margin: auto;
}
