body {
  margin: 0%;
  font-family: "IBM Plex Mono", sans-serif;
}

/* Menu */
.menu {
  height: 8vh;
  background-color: #1b1b1b;
  display: flex;
  justify-content: center;
}

/* Menu Container */
.menucon {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Menu Logo */
.logo {
  width: 30%;
}

/* Top Navigation */
.topnav {
  overflow: hidden;
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.menu a {
  color: #ffffff;
  font-size: 1vw;
  text-decoration: none;
}

.menu a:hover {
  color: #ff1801;
}

.topnav a.active {
  background-color: #ff1801;
  color: white;
}

.topnav .icon {
  display: none;
}

/* Overlay */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.3s;
}

.overlay-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 3vw;
  display: block;
  transition: 0.1s;
}

.overlay a:hover,
.overlay a:focus {
  color: #ff1801;
  font-size: 5vw;
}

.overlay .closebtn {
  position: absolute;
  top: 3%;
  right: 5%;
  font-size: 2vw;
}

/* Footer */
.footer {
  height: 5vh;
  background-color: #1b1b1b;
  color: #9c9c9c;
  font-size: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Home Body */
.homebody {
  height: 87vh;
  background-image: url(../../images/f1-75.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Home Container */
.homecon {
  width: 80%;
  height: 65%;
  padding-top: 5%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Home Text */
.ht {
  width: 45%;
  color: #ffffff;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0.3vw;
}

.ht h1 {
  font-family: raleway;
  font-size: 3vw;
  display: flex;
  align-items: center;
  font-weight: 800;
}

.ht p {
  margin-top: -3%;
  font-size: 1vw;
  letter-spacing: 0.1em;
}

.homebtn {
  width: 20vw;
  height: 8vh;
  margin-top: 8%;
  background-color: #ff1801;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 8px 30px rgba(63, 142, 0, 0.5);
}

.ht a {
  color: white;
  text-decoration: none;
  font-size: 1.3vw;
}

.ht a:hover {
  opacity: 0.9;
  text-decoration: underline;
}

/* img1 */
.img1 {
  width: 50%;
  height: 98%;
}

/* Home Profile Image */
.homecon img {
  width: 70%;
  border-radius: 50%;
  display: block;
  margin: auto;
}

/* Social Media */
.sm {
  width: 80%;
  height: 13vh;
  margin-top: 3vh;
  margin: auto;
}

.sm p {
  color: #ffffff;
  font-size: 1vw;
  font-weight: 400;
}

.media {
  height: 50%;
  display: flex;
  justify-content: space-between;
}

.media a {
  width: 90%;
}

.media a:hover {
  opacity: 0.75;
}

.mediabtn {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5% 1%;
  border-radius: 5px;
}

.media img {
  width: 20%;
  height: 20%;
}

/* Responsive For Small Screen*/
@media screen and (max-width: 1024px) and (min-width: 769px) {
}

/* Responsive For iPads or Tablets*/
@media screen and (max-width: 768px) and (min-width: 481px) {
  /* Menu Container */
  .menucon {
    width: 100%;
  }

  /* Menu Logo */
  .logo {
    width: 95%;
    text-align: center;
  }

  /* Top Navigation */
  .topnav {
    width: 5%;
    display: flex;
    align-items: center;
  }

  .topnav a {
    display: none;
  }

  .menu a.icon {
    display: block;
    position: absolute;
  }

  .menu.responsive {
    position: relative;
  }
  .menu.responsive .icon {
    position: absolute;
    right: 5;
    top: 0;
  }
  .menu.responsive a {
    display: block;
    text-align: left;
  }

  .menu a {
    color: #ffffff;
    font-size: 3vw;
    text-decoration: none;
  }

  /* Overlay */
  .overlay a {
    font-size: 3vw;
  }

  .overlay a:hover,
  .overlay a:focus {
    font-size: 8vw;
  }

  .overlay .closebtn {
    font-size: 5vw;
  }

  /* Footer */
  .footer {
    font-size: 2vw;
  }

  /* Home Body */
  .homebody {
    min-height: 87vh;
    height: fit-content;
    background-image: none;
    background-color: #080808;
  }

  /* Home Container */
  .homecon {
    height: 75%;
    flex-direction: column;
  }

  /* Home Text */
  .ht {
    width: 75%;
  }

  .ht h1 {
    font-size: 5vw;
  }

  .ht p {
    font-size: 2vw;
  }

  .homebtn {
    width: 30vw;
    height: 5vh;
    margin: auto;
  }

  .ht a {
    font-size: 1.8vw;
  }

  /* img1 */
  .img1 {
    width: 75%;
    height: 98%;
    margin-top: 5%;
  }

  /* Social Media */
  .sm {
    margin-top: 2vh;
  }

  .sm p {
    font-size: 2vw;
    text-align: center;
  }

  .media {
    margin-top: 2vh;
  }

  .media a {
    width: fit-content;
    height: fit-content;
  }

  .mediabtn {
    border: 1px solid #1b1b1b;
  }

  .media img {
    width: 30%;
    height: 30%;
  }
}

/* Responsive For Mobile*/
@media screen and (max-width: 480px) {
  /* Menu Container */
  .menucon {
    width: 100%;
  }

  /* Menu Logo */
  .logo {
    width: 95%;
    text-align: center;
  }

  /* Top Navigation */
  .topnav {
    width: 5%;
    display: flex;
    align-items: center;
  }

  .topnav a {
    display: none;
  }

  .menu a.icon {
    display: block;
    position: absolute;
  }

  .menu.responsive {
    position: relative;
  }
  .menu.responsive .icon {
    position: absolute;
    right: 5;
    top: 0;
  }
  .menu.responsive a {
    display: block;
    text-align: left;
  }

  .menu a {
    color: #ffffff;
    font-size: 5vw;
    text-decoration: none;
  }

  /* Overlay */
  .overlay a {
    font-size: 5vw;
  }

  .overlay a:hover,
  .overlay a:focus {
    font-size: 13vw;
  }

  .overlay .closebtn {
    font-size: 10vw;
  }

  /* Footer */
  .footer {
    font-size: 3vw;
  }

  /* Home Body */
  .homebody {
    min-height: 87vh;
    height: fit-content;
    background-image: none;
    background-color: #080808;
  }

  /* Home Container */
  .homecon {
    flex-direction: column;
  }

  /* Home Text */
  .ht {
    width: 90%;
  }

  .ht h1 {
    font-size: 9vw;
  }

  .ht p {
    font-size: 5vw;
  }

  .homebtn {
    width: 75vw;
    height: 8vh;
    margin: auto;
  }

  .ht a {
    font-size: 5vw;
  }

  /* img1 */
  .img1 {
    width: 100%;
    height: 100%;
    margin-top: 8%;
  }

  /* Home Profile Image */
  .homecon img {
    width: 100%;
  }

  /* Social Media */
  .sm {
    height: fit-content;
    margin-top: 3vh;
  }

  .sm p {
    font-size: 5vw;
    text-align: center;
  }

  .media {
    height: fit-content;
    margin-top: 3vh;
    flex-wrap: wrap;
    padding-bottom: 2%;
  }

  .media a {
    width: 50%;
    height: fit-content;
    margin-top: 2%;
  }

  .mediabtn {
    border: 1px solid #1b1b1b;
  }

  .media img {
    width: 30%;
    height: 30%;
  }
}
