body {
  margin: 0%;
  font-family: 'IBM Plex Mono', sans-serif;
}

/* Menu */
.menu {
  height: 8vh;
  background-color: #1b1b1b;
  display: flex;
  justify-content: center;
}

/* Menu Container */
.menucon {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Menu Logo */
.logo {
  width: 30%;
}

/* Top Navigation */
.topnav {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.menu a {
  color: #ffffff;
  font-size: 1vw;
  text-decoration: none;
}

.menu a:hover {
  color: #ff1801;
}

/* Footer */
.footer {
  height: 5vh;
  background-color: #1b1b1b;
  color: #9c9c9c;
  font-size: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Home Body */
.homebody {
  height: 87vh;
  background-image: url(../../images/f1-75.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Home Container */
.homecon {
  width: 80%;
  height: 65%;
  padding-top: 5%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Home Text */
.ht {
  width: 45%;
  color: #ffffff;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0.3vw;
}

.ht h1{
  font-family: raleway;
  font-size: 3vw;
  display: flex;
  align-items: center;
  font-weight: 800;
}

.ht p{
  margin-top: -3%;
  font-size: 1vw;
  letter-spacing: 0.1em;
}

.homebtn{
  width: 20vw;
  height: 8vh;
  margin-top: 8%;
  background-color: #ff1801;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 8px 30px rgba(63, 142, 0, 0.5);
}

.ht a{
  color: white;
  text-decoration: none;
  font-size: 1.3vw;
}

.ht a:hover {
  opacity: 0.9;
  text-decoration: underline;
}

/* img1 */
.img1{
  width: 50%;
  height: 98%;
}

/* Home Profile Image */
.homecon img {
  width: 70%;
  border-radius: 50%;
  display: block;
  margin: auto;
}

/* Social Media */
.sm{
  width: 80%;
  height: 13vh;
  margin-top: 3vh;
  margin: auto;
}

.sm p{
  color: #ffffff;
  font-size: 1vw;
  font-weight: 400;
}

.media{
  height: 50%;
  display: flex;
  justify-content: space-between;
}

.media a{
  width: 90%;
}

.media a:hover{
  opacity: 0.75;
}

.mediabtn{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5% 1%;
  border-radius: 5px;
}

.media img{
 width: 20%;
 height: 20%;
}